body {
	margin: 50px;
	font-size: 18px;
}

div {
	margin-bottom: 20px;
}

.heading {
	font-family: serif;
	font-size: 48px;
	letter-spacing: 1.5px;
}

.left {
	margin-left: 30px;
}

.right {
	float: right;
	font-style: italic;
	font-weight: normal;
}

.inst_name {
	font-weight: bold;
}

.topic {
	letter-spacing: 1px;
	font-weight: bold;
	font-size: 24px;
	padding: 5px;
}

.center {
	text-align: center
}

.subtopic {
	margin-bottom: 3px;
	font-size: 20px;
	font-weight: bold;
	border-bottom: 1px solid #037afb;
	color: rgba(3, 122, 251, 0.7);
}

th {
	text-align: left;
}

td {
	padding-left: 10px;
}

.edu {
	padding: 5px;
	border-radius: 7px;
	background-color: #4fa954;
}

.co {
	padding: 5px;
	border-radius: 7px;
	background-color: #ea4635;
}

.pro {
	padding: 5px;
	border-radius: 7px;
	background-color: rgba(3, 122, 251, 0.7);
}

.ts {
	padding: 5px;
	border-radius: 7px;
	background-color: #f9bc34;
}

.ts ~ table th {
	border-bottom: 1px solid #f9bc34;
	color: rgba(249, 188, 52, 0.7);
}

.aroi {
	padding: 5px;
	border-radius: 7px;
	background-color: #e9558b;
}

.aoi {
	font-weight: bold;
	border-bottom: 1px solid #f38832;
	color: rgba(233, 85, 139, 0.7);
}

.lang {
	padding: 5px;
	border-radius: 7px;
	background-color: #f38832;
}

.lang ~ table th {
	border-bottom: 1px solid #f9bc34;
	color: rgba(243, 136, 50, 0.7);
}

.pl {
	padding: 5px;
	border-radius: 7px;
	background-color: #64eff6;
}

.pl ~ table th {
	border-bottom: 1px solid #64eff6;
	color: rgba(100, 239, 246, 0.7);
}

.pt {
	padding: 5px;
	border-radius: 7px;
	background-color: rgba(106, 70, 168, 0.7);
}